REDASH_LOG_LEVEL=INFO
REDASH_DATABASE_URL=postgresql://redash:310791@peleneva.space/redash
REDASH_COOKIE_SECRET=CHANGE-ME


REDASH_HOST=localhost:5000
REDASH_MAIL_SERVER=smtp.mail.ru
REDASH_MAIL_PORT=465
REDASH_MAIL_USE_TLS=false
REDASH_MAIL_USE_SSL=true
REDASH_MAIL_USERNAME=test@mail.ru
REDASH_MAIL_PASSWORD=mailru-password
REDASH_MAIL_DEFAULT_SENDER=test@mail.ru